NathanielGamePhone/Service References/ScoreService/ScoreService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.nathanielgame.com" elementFormDefault="qualified" targetNamespace="http://www.nathanielgame.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49304/ScoreService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NathanielGameScoreService" />
  <xs:element name="GetHighScores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHighScoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetHighScoresResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetHighScore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="score" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetHighScoreResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScoresXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="score" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScoresXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NathanielGameScoreService" minOccurs="0" name="GetScoresXMLResult" nillable="true" type="q1:Score" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>