NathanielGamePhone/Service References/ScoreService/ScoreService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.nathanielgame.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.nathanielgame.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.nathanielgame.com/Imports">
      <xsd:import schemaLocation="http://localhost:49304/ScoreService.svc?xsd=xsd0" namespace="http://www.nathanielgame.com" />
      <xsd:import schemaLocation="http://localhost:49304/ScoreService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49304/ScoreService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NathanielGameScoreService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IScoreService_GetHighScores_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHighScores" />
  </wsdl:message>
  <wsdl:message name="IScoreService_GetHighScores_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHighScoresResponse" />
  </wsdl:message>
  <wsdl:message name="IScoreService_SetHighScore_InputMessage">
    <wsdl:part name="parameters" element="tns:SetHighScore" />
  </wsdl:message>
  <wsdl:message name="IScoreService_SetHighScore_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetHighScoreResponse" />
  </wsdl:message>
  <wsdl:message name="IScoreService_GetScoresXML_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScoresXML" />
  </wsdl:message>
  <wsdl:message name="IScoreService_GetScoresXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScoresXMLResponse" />
  </wsdl:message>
  <wsdl:portType name="IScoreService">
    <wsdl:operation name="GetHighScores">
      <wsdl:input wsaw:Action="http://www.nathanielgame.com/IScoreService/GetHighScores" message="tns:IScoreService_GetHighScores_InputMessage" />
      <wsdl:output wsaw:Action="http://www.nathanielgame.com/IScoreService/GetHighScoresResponse" message="tns:IScoreService_GetHighScores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetHighScore">
      <wsdl:input wsaw:Action="http://www.nathanielgame.com/IScoreService/SetHighScore" message="tns:IScoreService_SetHighScore_InputMessage" />
      <wsdl:output wsaw:Action="http://www.nathanielgame.com/IScoreService/SetHighScoreResponse" message="tns:IScoreService_SetHighScore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetScoresXML">
      <wsdl:input wsaw:Action="http://www.nathanielgame.com/IScoreService/GetScoresXML" message="tns:IScoreService_GetScoresXML_InputMessage" />
      <wsdl:output wsaw:Action="http://www.nathanielgame.com/IScoreService/GetScoresXMLResponse" message="tns:IScoreService_GetScoresXML_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>